* {
    margin: 0;
}
body {
    background-color: hsl(225, 100%, 94%);
}


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -85px;
    
  }

  .card {
    width: 340px;
    height: 530px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  }

  .image-container {
    width: 340px;
    
  }
  .order-container {
    margin-top: 30px;
  }
  .hero-image {
    width: 340px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .music-image {
    width: 35px;
  }
  .music-image-container {
    margin-left: 15px;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .grid {
    width: 280px;
    height: 75px;
    background-color:  hsl(225, 100%, 98%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40px 100px 1fr;
    align-items: center;
   
  }
  .change-link {
    justify-self: end;
    margin-right: 15px;
    font-family: Red Hat Display, sans-serif;
    font-size: 11px;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 900;
    cursor: pointer;
  }
  .change-link:hover {
    color: rgba(56, 41, 224, 0.7);
    text-decoration: none;
  }
  .price-plan {
    margin-left: 25px;
  }
  h1 {
    text-align: center;
    font-family: Red Hat Display, sans-serif;
    color:hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 24px;
  }
  .paragraph {
    text-align: center;
    font-family: Red Hat Display, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
  }
  .anual-row {
    font-family: Red Hat Display, sans-serif;
    font-size: 12px;
    font-weight: 900;
    color:hsl(223, 47%, 23%);
    margin-bottom: 3px;
    
  }
  .price-row {
    font-family: Red Hat Display, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color:hsl(224, 23%, 55%);
    margin-bottom: 3px;  
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 280px;
    height: 37px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    font-family: Red Hat Display, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: white;
    margin-top: 25px; 
    transition: background-color 0.15s ease;
  }
  button:hover {
    background-color:rgba(56, 41, 224, 0.7);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
  }





  .cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Red Hat Display, sans-serif;
    font-size: 11px;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    margin-top: 25px;
    transition: color 0.15s ease;
   
  }
  .cancel-button:hover {
    color: hsl(223, 47%, 23%);
    cursor:pointer;
  
  }

  @media (max-width:616px) {
    .card {
      width: 270px;
      height: 480px;
      background-color: rgb(255, 255, 255);
      margin-top: 100px;
      border-radius: 20px;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    }
    .hero-image {
      width: 270px;
      border-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    button {
      max-width: 80%;
      max-height: 100%;
    }
    .grid {
      max-width: 80%;
      height: 65px;

    }
    .paragraph {
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      margin-right: 2px;
    }
    h1 {
      font-size: 18px;
    }
  
  }